.LowerBoundFlexContainer{
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
    justify-content: space-between;
}
.MainsContainer{
    width: 35%;
}
.InnersWrapper{
    box-shadow: 2px 2px 2px #435C70;
    background-color: #435C70;
    border-radius: 4px;
    padding: 15px 30px;
}
.AvatarHeader{
    color: #fff;
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0;
}
.AvatarImage{
    width: 100%;
    min-width: 300px;
}
.ImageWrapper{
    width: 300px;
    margin-left: 15px;
    position: relative;
}
.DeleteIconWrapper{
    position: absolute;
    left: 36%;
    top: 42%;
    z-index: 1000;
    padding: 3px;
    text-align: center;
    transition: all 0.2s ease;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(57, 78, 100, 0.7);
    display: none;
   
}
.Icons{
    margin-top: 15px;
}

.UploadButton{
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
  background-color: #F5A623;
  outline: none;
  border: 2px solid #F5A623;
  width: 300px;
  margin-top: 25px;
  margin-left: 15px;
  height: 50px;
  cursor: pointer;
}
.UploadButton:hover{
    background-color: transparent;
    color: #F5A623;
}
.HiddenAlways{
    display: none;
}
.CrossIcons{
    position: absolute;
    top: -2%;
    left: 97%;
    font-size: 1.3rem;
    cursor: pointer;
}
.HiddenUploadTab{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 120px;
    background-color: rgba(57, 78, 100, 0.9) ;
}
.pictureUpload{
    margin-top: 30px;
    margin-left: 15px;
    color: #fff;
}









.MainContainerSetting{
    width: 65%;
    margin-left: 10px;
}
.InnerWrapperSetting{
    box-shadow: 2px 2px 2px #435C70;
    background-color: #435C70;
    border-radius: 4px;
    padding: 15px 30px;
}
.AccountSettingsHeader{
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 12px;
}
.FormWrapper{
    display: flex;
    justify-content: space-between;
}
.InputBox{
    outline: none;
    background-color: #54657D;
    color: #fff;
    width: 256px;
    height: 34px;
    border: 1px solid #435C70;
    padding: 10px;
}
.Label{
    color: #fff;
}
.UpdateButton{
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
  background-color: #F5A623;
  outline: none;
  border: 2px solid #F5A623;
  width: 300px;
  height: 50px;
  cursor: pointer;
  margin-top: 50px;
  padding-top: 12px;
  padding-left: 50px;
}
.UpdateButton:hover{
    background-color: transparent;
    color: #F5A623;
    
}
.DeleteWrapper{
    width: 100%;
    height: 50px;
    background-color: #F5A623;
    outline: none;
    border: 2px solid #F5A623;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
}
.DeleteWrapper:hover{
    background-color: transparent;
    color: #F5A623;
    
}