
.MainContainer{
    
    height: 100px;
    background-color: #567086;
    padding: 0;
    
}
.NavBar{
    display: flex;
    padding-top: 10px;
    margin-left: 13%;
    margin-right: 13%;
    justify-content: space-between;
    align-items: center;
}
.PageNavigationWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.ProductDetailName{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
}
.IconAndLinkWrapper{
    padding-left: 35px;
    padding-right: 35px;
}

.Icons{
    color: #fff;
    padding-left: 18px;
    font-size: 1.5rem;
    cursor: pointer;
}
.Icons:hover{
    color:#f5a623;
}
.PageLinkName:hover{
    color:#f5a623;
}

.PageLinkName{
    color: #fff;
    font-size: 1rem;
    cursor: pointer;    
}
.AccountNameAndLogout{
    color: #fff;
    font-weight: 100;
}
.AccountNameAndLogout:hover{
    color: #f5a623;
    cursor: pointer;
}